{% load scaffold %}
from import_export import resources
from import_export.fields import Field

from {{app_label}}.models import (
    {% for model in models %}    {{model|get_model_classname}},
    {% endfor %})



{% for model in models %}
class {{model|get_model_classname}}Resource(resources.ModelResource):
    class Meta:
        model = {{model|get_model_classname}}
        fields = {
            {% for field in model|get_fields %}{{field|get_serializer_string_field|safe}}
            {% endfor %}
        }
{% endfor %}
