{% load scaffold %}
from django.urls import reverse
from vqapps.utils.tests_mixins import BaseAPITestSet

from {{app_label}}.models import (
    {% for model in models %}    {{model|get_model_classname}},
    {% endfor %})

from {{app_label}}.factory import (
    {% for model in models %}    {{model|get_model_classname}}Factory,
    {% endfor %})

from {{app_label}}.serializers import (
    {% for model in models %}    {{model|get_model_classname}}Serializer,
    {% endfor %})



{% for model in models %}
class {{model|get_model_classname}}APITestCase(BaseAPITestSet):
    base_url_name = "api:{{model.classname}}"

    def test_retrieve(self):
        self.setClientToken()
        obj = {{model|get_model_classname}}Factory()
        response = self.client.get(self.detail_url(obj.pk))
        self.assertEqual(200, response.status_code)
        self.assertTrue('id' in response.data)
        self.assertEqual(response['content-type'], 'application/json')
        self.assertEqual(response.data, {{model|get_model_classname}}Serializer(obj).data)

    def test_list(self):
        self.setClientToken()
        {{ model|get_model_classname }}Factory()
        response = self.client.get(self.list_url)
        self.assertEqual(200, response.status_code)
        self.assertEqual(response['content-type'], 'application/json')
        self.assertTrue(isinstance(response.data['results'], list))
        self.assertEqual(response.data.get('count'), 1)
        self.assertEqual(len(response.data['results']), 1)

    def test_update(self):
        obj = {{ model|get_model_classname }}Factory()
        data = {{ model|get_model_classname }}Serializer(obj).data
        raise Exception("Should change field to update")

        self.setClientToken()
        response = self.client.put(self.detail_url(obj.pk), data)
        response_obj = {{ model|get_model_classname }}Serializer(response.data)
        self.assertEqual(200, response.status_code)
        self.assertTrue('id' in response.data)
        
        self.assertEqual(response.data.get('name'), 'My test {{ model|get_model_classname }}')
        raise Exception("Should test one field to update")

        self.assertEqual({{ model|get_model_classname }}.objects.count(), 1)
        self.assertEqual(data, response.data)
        self.assertEqual(response['content-type'], 'application/json')

    def test_partial_update(self):
        obj = {{ model|get_model_classname }}Factory()
        data = {
            'field':'清風'
        }
        raise Exception("Should change field to update")

        self.setClientToken()
        response = self.client.patch(self.detail_url(obj.pk), data)
        response_obj = {{ model|get_model_classname }}Serializer(response.data)
        self.assertEqual(200, response.status_code)
        self.assertTrue('id' in response.data)
        
        self.assertEqual(response.data.get('name'), 'My test {{ model|get_model_classname }}')
        raise Exception("Should test one field to update")

        self.assertEqual({{ model|get_model_classname }}.objects.count(), 1)
        self.assertEqual(response['content-type'], 'application/json')


    def test_create(self):
        obj = {{ model|get_model_classname }}Factory.build()
        data = {{ model|get_model_classname }}Serializer(obj).data
        self.setClientToken()
        response = self.client.post(self.list_url, data)
        self.assertEqual(201, response.status_code)
        self.assertTrue('id' in response.data)
        self.assertEqual({{ model|get_model_classname }}.objects.count(), 1)
        obj = {{ model|get_model_classname }}.objects.get(id=response.data['id'])
        self.assertEqual(response.data, {{ model|get_model_classname }}Serializer(obj).data)
        self.assertEqual(response['content-type'], 'application/json')

    def test_destroy(self):
        obj = {{ model|get_model_classname }}Factory()
        self.setClientToken()
        response = self.client.delete(self.detail_url(obj.pk))
        self.assertEqual(response['content-length'], '0')
        self.assertEqual({{ model|get_model_classname }}.objects.count(), 0)

{% endfor %}
