{% load scaffold %}
from django.test import TestCase

{% for app, models in dependencies.items %}from {{app}}.models import (
    {% for model in models %}{{model}},{% endfor %}
    )
{% endfor %}

{% for app, models in dependencies.items %}from {{app}}.factory import (
    {% for model in models %}{{model}}Factory,{% endfor %}
    )
{% endfor %}

from {{app_label}}.models import (
    {% for model in models %}    {{model|get_model_classname}},
    {% endfor %})

from {{app_label}}.factory import (
    {% for model in models %}    {{model|get_model_classname}}Factory,
    {% endfor %})



{% for model in models %}
class {{model|get_model_classname}}ModelTest(TestCase):
    def test_instance(self):
        obj = {{model|get_model_classname}}Factory()
        self.assertEqual({{model|get_model_classname}}.objects.count(), 1)
{% endfor %}
